spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/isa_products
    username: isa_user
    password: isa_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8081
